body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    padding: 1rem;
}

label {
    display: block;
}

input[type="text"] ,
input[type="email"]{
    border: 1px solid #666;
    border-radius: 5px;
    padding:0.5rem 0.7rem;

    transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="text"]:focus ,
input[type="email"]:focus {
    border-color: #7db0fb;
    outline:0;
    box-shadow: 0 0 0 3px rgba(117, 176, 235,0.5);
}

button {
    background-color: #0d6dfb;
    color: #fff;
    border: 0;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    outline:0;
}
.form-group {
    margin-bottom: 1rem;
}