<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">

        <div class="box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aut recusandae corrupti illum doloribus magni fugiat quaerat eos ea quam. Nesciunt obcaecati officia fuga quam reprehenderit praesentium, laborum odio quae.
        </div>

        <div class="box">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quibusdam veniam, praesentium beatae tempore adipisci maxime aut hic quis maiores nulla illum laborum similique minima quia, pariatur blanditiis soluta aliquam?
        </div>

    </div>
</body>
</html>