body {
    margin: 10px;
}

.box {
    width: 200px;
    height: 200px;
    background: coral;
    /* box-shadow: 10px 10px 30px  grey; */
    box-shadow: 0px 0px 20px grey;
}

h1 {
    color: white;
    /* text-shadow: 3px 3px 5px grey ; */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}