/* .hero .btn {
    background: gold;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero .btn {
    background: gold;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */


.btn {
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.btn-primary {
    background: gold;
}

.btn-secondary {
    background: dodgerblue;
}